h1{
    /* text-align: center; */
    display: inline-block;
    margin-left: 375px;
}
.container p{
    font-size: 20px;
    
}
img{
    width: 110px;
    height: 61px;
   align-items: left;
}


.details{
    /* border: 2px solid red; */
}
label{
    display: block;
    
}
.inputdetails{
    margin-top: 9px;
}
.textlabel{
    /* margin: 3px; */
    margin: 6px;
    padding: 6px;
    margin-bottom: 0px;
    text-align: left;
}
*{
    background-color: black;
    color: white;
}
label#choosegender{
    display: inline;
}
footer a{
    color:green;
    text-align: center;
    text-decoration: none;
    border: 2px solid brown;
    
    border-radius: 25px;
    padding: 8px;
    display: block;
    width: 59px;
    margin-left: 1200px;
}
.labels{
    display: inline;
}
.employmentoption{
    display: inline;
}
.label2{
    
    /* display: block; */
    display: inline-block;
}
.otheremployment{
    margin-left: 197px;
}
span{
    color: red;
}
.heading{
    /* border: 2px solid red; */
    padding: 13px;
}
footer{
    /* border: 2px solid green; */
    margin-top: 25px;
}
.button1,.button2{ 
    border: 2px solid blue;
    font-size: 16px;
    padding: 0px;
    width: 69px;
}
.button2{
    position: absolute;
    right: 25px;
}
.button1{
    position: absolute;
    left:25px
}
footer a:hover{
    text-decoration: underline;
    border: none;
    background-color: orange;
    color: yellow;
    font-size: 30px;
}
.container3{
    /* border: 2px solid red; */
    background-color: black;
}
.main{
    /* border: 2px solid blue; */
    margin-top: 30px;
}
.main p{
    font-size: 18px;
}
.submission{
    border: 2px solid yellow;
    text-align: center;
    margin-top: 134px;
    width: 6%;
    margin: 134px auto;
    /* cursor: pointer; */
    border-radius: 10px;
    /* color: green; */
}
.finalsub{
    cursor: pointer;
    color: green;
}