h1{
    /* text-align: center; */
    display: inline-block;
    margin-left: 375px;
}
.container p{
    font-size: 20px;
    
}
img{
    width: 110px;
    height: 61px;
   align-items: left;
}


.details{
    /* border: 2px solid red; */
}
label{
    display: block;
    
}
.inputdetails{
    margin-top: 9px;
}
.textlabel{
    /* margin: 3px; */
    margin: 6px;
    padding: 6px;
    margin-bottom: 0px;
    text-align: left;
}
*{
    background-color: black;
    color: white;
}
label#choosegender{
    display: inline;
}
footer a{
    color:green;
    text-align: center;
    text-decoration: none;
    border: 2px solid brown;
    
    border-radius: 25px;
    padding: 8px;
    display: block;
    width: 59px;
    margin-left: 1200px;
}